<footer>
    <div>
         <a href="https://www.facebook.com/cervezamanecer" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
         <a href="https://www.instagram.com/cervezamanecer/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
         <a href="https://wa.me/5492392633025" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></a>
         
     </div>
     <p>Copyright ©2022 Amanecer S.A.</p>
</footer>