<header>
    <a href="/" class="logo"><img src="/images/logoBlanco.png" alt="logo"></a>
    <nav class="main-nav">
        <ul>
            <li><a href="/products">CERVEZAS</a></li>
            <li><a href="/products">MERCHANDISING</a></li>
            <li><a href="/products">COMIDA</a></li>
            <li><a href="#">QUIENES SOMOS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </nav>
    

     <i class="fas fa-bars" id="menu"></i>
     <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
    
     <!-- No esta Logueado -->
     <a href="/user/login"><i class="fa-solid fa-user"></i></a>


     <!-- Esta Logueado -->
     <div>
        <a href="/user/profile"> Hola Usuario!<img src="/images/users/default.png" width="40" style="border-radius: 100%"></a>
        
        <a href="/"><i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
     </div>
     
</header>