<header>
    <a href="/" class="logo"><img src="/images/logoBlanco.png" alt="logo"></a>
    <nav class="main-nav">
        <ul>
            <li><a href="/products">CERVEZAS</a></li>
            <li><a href="/products">MERCHANDISING</a></li>
            <li><a href="/products">COMIDA</a></li>
            <li><a href="#">QUIENES SOMOS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </nav>
    

     <i class="fas fa-bars" id="menu"></i>
     <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
    

     <!-- Esta Logueado -->
     <% if (locals.usuario) {%> 
     <div>
        <a href="/user/profile"> Hola <%= usuario.firstName %>
            <img src="/images/users/<%= usuario.image %> " width="40" style="border-radius: 100%"></a>
        
        <a href="/user/logout"><i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
     </div>
     <% } else { %>
        <!-- No esta Logueado -->
        <a href="/user/login"><i class="fa-solid fa-user"></i></a>
     <% } %>
</header>