<header>
    <a href="/" class="logo"><img src="/images/logoBlanco.png" alt="logo"></a>
    <nav class="main-nav">
        <ul>
            <li><a href="/products">CERVEZAS</a></li>
            <li><a href="/products">MERCHANDISING</a></li>
            <li><a href="/products">COMIDA</a></li>
            <li><a href="#">QUIENES SOMOS</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </nav>
     <i class="fas fa-bars" id="menu"></i>
     <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
     <a href="/user/login"><i class="fa-solid fa-user"></i></a>
</header>