<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/1055fd947b.js" crossorigin="anonymous"></script>
    <title>Amanecer</title>
</head>
<body>
   <header>
        <img src="images/logoBlanco.png" alt="logo" class="logo">
        <i class="fas fa-bars"></i>
        <i class="fas fa-shopping-basket"></i>
        <i class="fa-solid fa-user"></i>
   </header>
   <main>
    <h1>cerveceria</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro velit nemo earum vitae blanditiis aut adipisci fuga facere explicabo quae, distinctio tenetur aliquam eligendi quisquam eum deserunt temporibus numquam modi.
    </p>

    <h2>info</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam neque veritatis necessitatibus voluptas mollitia harum aliquam hic itaque atque, voluptatem quia soluta doloribus, rem tempora eaque amet sapiente modi aut!</p>
    <h1>cerveceria</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro velit nemo earum vitae blanditiis aut adipisci fuga facere explicabo quae, distinctio tenetur aliquam eligendi quisquam eum deserunt temporibus numquam modi.
    </p>

    <h2>info</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam neque veritatis necessitatibus voluptas mollitia harum aliquam hic itaque atque, voluptatem quia soluta doloribus, rem tempora eaque amet sapiente modi aut!</p><h1>cerveceria</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro velit nemo earum vitae blanditiis aut adipisci fuga facere explicabo quae, distinctio tenetur aliquam eligendi quisquam eum deserunt temporibus numquam modi.
    </p>

    <h2>info</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam neque veritatis necessitatibus voluptas mollitia harum aliquam hic itaque atque, voluptatem quia soluta doloribus, rem tempora eaque amet sapiente modi aut!</p><h1>cerveceria</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro velit nemo earum vitae blanditiis aut adipisci fuga facere explicabo quae, distinctio tenetur aliquam eligendi quisquam eum deserunt temporibus numquam modi.
    </p>

    <h2>info</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam neque veritatis necessitatibus voluptas mollitia harum aliquam hic itaque atque, voluptatem quia soluta doloribus, rem tempora eaque amet sapiente modi aut!</p><h1>cerveceria</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro velit nemo earum vitae blanditiis aut adipisci fuga facere explicabo quae, distinctio tenetur aliquam eligendi quisquam eum deserunt temporibus numquam modi.
    </p>

    <h2>info</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam neque veritatis necessitatibus voluptas mollitia harum aliquam hic itaque atque, voluptatem quia soluta doloribus, rem tempora eaque amet sapiente modi aut!</p>
   </main>
   <footer>
       <div>
           <i class="fa-brands fa-square-instagram"></i>
           <i class="fa-brands fa-square-facebook"></i>
           <i class="fa-brands fa-square-whatsapp"></i>
        </div>
        <p>Copyright ©2022 Amanecer S.A.</p>
   </footer>
</body>
</html>