<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://kit.fontawesome.com/1055fd947b.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <img src="images/logoBlanco.png" alt="logo" class="logo">
        <i class="fas fa-bars"></i>
        <i class="fas fa-shopping-basket"></i>
        <i class="fa-solid fa-user"></i>
   </header>
   
   <main>
        <div>
            <h5>Entra en tu Cuenta</h5>
            <form action="/login" method="POST">
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email">

                <label for="contraseña"></label>
                <input type="password" name="contraseña" id="contraseña" placeholder="Ingresa tu contraseña">

                <button type="submit">Enviar</button>
            </form>
            <a href="/register">¿No estas registrado?</a>
        </div>
        
   </main>
   
   <footer>
    <div>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-whatsapp"></i>
     </div>
     <p>Copyright ©2022 Amanecer S.A.</p>
</footer>
</body>
</html>