<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/productDetail.css">
    <script src="https://kit.fontawesome.com/1055fd947b.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <img src="images/logoBlanco.png" alt="logo" class="logo">
        <i class="fas fa-bars"></i>
        <i class="fas fa-shopping-basket"></i>
        <i class="fa-solid fa-user"></i>
   </header>



<main>
    <section>
        <div class="details-imgarticle">
          <article>
             <h4>IPA</h4>
             <img src="/images/1.IPA.jpg" alt="IPA" width="100%">
             <p>$100</p>
             <div class="details-unidades-carrito">
             <div>
                <form action="/cantidad" method="GET">
                    <label>Unidades</label>
                    <select name="unidades">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    </select>
                   </form>    
             </div>
             <div>
                <i class="fas fa-shopping-cart"></i>
                <input type="submit" value="Agregar al carrito">
             </div>
             </div>
          </article>
          <article>
            <h4>APA</h4>
            <img src="/images/2.APA.jpg" alt="APA" width="100%">
            <p>$100</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <h4>Dorada Pampeana</h4>
            <img src="/images/4.DoradaPampeana.jpg" alt="APA" width="100%">
            <p>$100</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <h4>Bohemian Pils</h4>
            <img src="/images/6.BohemianPils.jpg" alt="APA" width="100%">
            <p>$100</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <h4>IPL</h4>
            <img src="/images/7.IPL.jpg" alt="APA" width="100%">
            <p>$100</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <h4>Scotish</h4>
            <img src="/images/8.Scotish.jpg" alt="APA" width="100%">
            <p>$100</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <h4>Para picar</h4>
            <img src="/images/ParaPicar.jpg" alt="APA" width="100%">
            <p>$100</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <h4>Botellon</h4>
            <img src="/images/Botellon.jpg" alt="APA" width="100%">
            <p>$100</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
        </div> 
    </section>
</main>

   <footer>
    <div>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-whatsapp"></i>
     </div>
     <p>Copyright ©2022 Amanecer S.A.</p>
</footer>
</body>
</html>