<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/productDetail.css">
    <script src="https://kit.fontawesome.com/1055fd947b.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/" class="logo"><img src="images/logoBlanco.png" alt="logo"></a>
        <nav class="main-nav">
            <ul>
                <li><a href="/productDetail">CERVEZAS</a></li>
                <li><a href="/productDetail">MERCHANDISING</a></li>
                <li><a href="/productDetail">COMIDA</a></li>
                <li><a href="#">QUIENES SOMOS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
         <i class="fas fa-bars" id="menu"></i>
         <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
         <a href="/login"><i class="fa-solid fa-user"></i></a>
    </header>



<main>
    <section>
        <div class="details-imgarticle">
          <article>
            <div class="details-descripcion">
               <h4>IPA</h4>
               <p>ALC: 6% / IBU 47</p>
            </div>
             <img src="/images/1.IPA.jpg" alt="IPA" width="100%">
             <p>$350</p>
             <div class="details-unidades-carrito">
             <div>
                <form action="/cantidad" method="GET">
                    <label>Unidades</label>
                    <select name="unidades">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    </select>
                   </form>    
             </div>
             <div>
                <i class="fas fa-shopping-cart"></i>
                <input type="submit" value="Agregar al carrito">
             </div>
             </div>
          </article>
          <article>
            <div class="details-descripcion">
              <h4>APA</h4>
              <p>ALC: 6% / IBU 28</p>
            </div>
            <img src="/images/2.APA.jpg" alt="APA" width="100%">
            <p>$350</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <div class="details-descripcion">
              <h4>Dorada Pampeana</h4>
              <p>ALC: 5.7% / IBU 12</p>
            </div>
            <img src="/images/4.DoradaPampeana.jpg" alt="APA" width="100%">
            <p>$350</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <div class="details-descripcion">
              <h4>Bohemian Pils</h4>
              <p>ALC: 4.5% / IBU 25</p>
            </div>
            <img src="/images/6.BohemianPils.jpg" alt="APA" width="100%">
            <p>$350</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <div class="details-descripcion">
              <h4>IPL</h4>
              <p>ALC: 5.5% / IBU 47</p>
            </div>
            <img src="/images/7.IPL.jpg" alt="APA" width="100%">
            <p>$350</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <div class="details-descripcion">
               <h4>Scotish</h4>
               <p>ALC: 5.8% / IBU 8</p>
            </div>
            <img src="/images/8.Scotish.jpg" alt="APA" width="100%">
            <p>$350</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article>
            <div class="details-descripcion">
              <h4>Para picar</h4>
            </div>  
            <img src="/images/ParaPicar.jpg" alt="APA" width="100%">
            <p>$1300</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
         <article class="details-last-article">
            <div class="details-descripcion">
              <h4>Botellon</h4>
            </div>
            <img src="/images/Botellon.jpg" alt="APA" width="100%">
            <p>$900</p>
            <div class="details-checkbox-carrito">
                <div class="details-unidades-carrito">
                    <div>
                       <form action="/cantidad" method="GET">
                           <label>Unidades</label>
                           <select name="unidades">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                           </select>
                          </form>    
                    </div>
                    <div>
                       <i class="fas fa-shopping-cart"></i>
                       <input type="submit" value="Agregar al carrito">
                    </div>
                    </div>
         </article>
        </div> 
    </section>
</main>

    <footer>
        <div>
             <a href="https://www.facebook.com/cervezamanecer" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
             <a href="https://www.instagram.com/cervezamanecer/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
             <a href="https://wa.me/5492392633025" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></a>
             
         </div>
         <p>Copyright ©2022 Amanecer S.A.</p>
    </footer>
</body>
</html>