<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', style)%> 
<body>
   <%- include('./partials/header') %> 
    <main class="card-main">
        <section class="name-section"> 
           <div class="cant"><p>Cant</p></div>   
            <div class="imagenProd"><p>Producto</p></div>
            <div class="descripcion"><p>Descripción</p></div>
            <div class="subTotal"><p>Subtotal</p></div>
            <div class="eliminar"> </div>
        </section>
        <form action="/productCart.html" method="POST" class="vendido" name="producto">
            <div class="v-cant"><p>1</p></div>   
            <div class="v-imagenProd"><img src="/images/mini2.APA.jpg" alt="apa" class="mini-img"></div>
            <div class="v-descripcion"><p>Cerveza APA</p></div>
            <div class="v-subTotal"><p>$100</p></div>
            <div class="v-eliminar"><button type="reset" value="eliminar" name="producto">X</button></div>
        </form>
        <form action="/productCart.html" method="POST" class="vendido" name="producto">
          <div class="v-cant"><p>6</p></div>   
            <div class="v-imagenProd"><img src="/images/mini8.Scotish.jpg" alt="scotish" class="mini-img"></div>
            <div class="v-descripcion"><p>Cerveza Scotish</p></div>
            <div class="v-subTotal"><p>$6100</p></div>
            <div class="v-eliminar"><button type="reset" value="eliminar" name="producto">X</button></div>
        </form>
        <form action="/productCart.html" method="POST" class="vendido" name="producto">
            <div class="v-cant"><p>2</p></div>   
            <div class="v-imagenProd"><img src="/images/mini1.IPA.jpg" alt="ipa" class="mini-img"></div>
            <div class="v-descripcion"><p>Cerveza IPA</p></div>
            <div class="v-subTotal"><p>$900</p></div>
            <div class="v-eliminar"><button type="reset" value="eliminar" name="producto">X</button></div>
        </form>
        <form action="/productCart.html" method="POST" class="vendido" name="producto">
            <div class="v-cant"><p></p></div>   
            <div class="v-imagenProd"><img class="mini-img"></div>
            <div class="v-descripcion"><p></p></div>
            <div class="v-subTotal"><p></p></div>
            <div class="v-eliminar"><button type="reset" value="eliminar" name="producto"></button></div>
        </form>
        <form action="/productCart.html" method="POST" class="vendido" name="producto">
            <div class="v-cant"><p></p></div>   
            <div class="v-imagenProd"><img class="mini-img"></div>
            <div class="v-descripcion"><p></p></div>
            <div class="v-subTotal"><p></p></div>
            <div class="v-eliminar"><button type="reset" value="eliminar" name="producto"></button></div>
        </form>
        <div class="end-table">
            <div> Total  </div>
            <input type="text">
        </div>
        <br>
        <form action="/" method="post"><div class="a-pagar">
            <label name="pagar"><h3>Elija su forma de pago</h3>       
           <div class="opciones-pago"><br><input type="radio" name="pagar" value="efectivo">Efectivo
            <br><input type="radio" name="pagar" value="tarj-deb">Tarjeta de Débito
            <br><input type="radio" name="pagar" value="tarj-cred">Tarjeta de Crédito <input type="number"/> cuotas
            <br><input type="radio" name="pagar" value="tranferencia">Transferencia </label></div> 
 
    <br><button type="sumit" value="pagar" class="boton-pagar"><p>Pagar</p></button>
<button type="reset" value="cancelar" class="boton-cancelar"><p>Cancelar</p></button></form></div>
    <br>
    <%- include('./partials/footer') %> 
    
</body>
</html>