<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'), style %> 
<body>
    <%- include('./partials/header') %>

   <main>
    <div>
        <h5>Crea tu Cuenta</h5>
        <form action="/login" method="POST">
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="Ingresa tu email">

            <label for="contraseña"></label>
            <input type="password" name="contraseña" id="contraseña" placeholder="Ingresa tu contraseña">

            <label for="contraseña"></label>
            <input type="password" name="contraseña" id="confirmcontraseña" placeholder="Repetí tu contraseña">

            <button type="submit">Enviar</button>
        </form>
        <a href="/user/login">¿Ya estas registrado?</a>
    </div>
    
</main>

    <%- include('./partials/footer')  %>
</body>
</html>