main{
    background-repeat: repeat;
    background-image: url(https://i.pinimg.com/originals/58/8c/4b/588c4ba75cbd6dd9fe3c5bfafaaccdea.jpg)!important;
    color: gold;
}


.name-section{
 background-color: black;
 color: whitesmoke;
 margin-top: 15px;
 margin-bottom: 5px;
 width: 100%;
 display: flex;
 justify-content: space-between;
}
.vendido{
    background-color: gray;
    color: black;
    margin-top: 15px;
    margin: 5px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtotal, .v-subtotal{
    text-align: center;
    width: 20%;
}

.cant, .eliminar , .v-cant, .v-eliminar{
    text-align: center;
    width: 10%;
}

.product ,.descripcion, .v-product, .v-descripcion{
    text-align: center;
    width: 30%;
}

.end-table{
    height: 5vh;
    background-color: black;
    color:whitesmoke;
    padding: 2px;
    padding-right: 5px;
    align-items: center;
    text-align:right;
    display:flex;
    justify-content: right;
}
.id{
    display: none;
}

/*.a-pagar{
    background-color:whitesmoke ;
}*/
form h3{
    background-color: black;
    text-align: center;
    position: relative;
}
.opciones-pago{
    margin-left: 7px;
    text-align:left
}

.boton-pagar{
    width: 15%;
    background-color: black;
    color:whitesmoke;
    margin: 2px;
    border-radius: 3px;

}
.boton-cancelar{
    width: 15%;
    background-color: black;
    color:whitesmoke;
    margin: 2px;
    border-radius: 3px;
}

.mini-img{
 max-width: 50px;
 max-height: 150px;
}
