@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: black;
}

header{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    height: 80px;
}
 header i {
    color: #ffff;
    font-size: 20px;
 }

 header div a{
    font-size: 20px;
    margin: 12px;
 }

 header nav a {
    font-size: 16px;
 }

 header div {
    width: 15%;
    display: flex;
 }

 main{
    margin-top: 80px;
 }

 ul, li{
    list-style: none;
 }
 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
 }
 a:hover{
    cursor: pointer;
 }
.logo{
    width: 45%;
    max-width: 220px;
}
.logo img{
    width: 100%;
}

footer{
    color: #ffff;
    background-color: black;
    position: relative;                     /*cambie la posicion del footer para que quede abajo*/
    bottom: 0;                      
    width: 100%;
    padding: 5px;
    text-align: center;
    margin-top: auto;
}
footer div{
    display: flex;   
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px 0px;
}
footer p{
    margin-top: 10px;
    font-size: 8px;
}
footer i{
    font-size:30px;
    margin: 5px;
}

.main-nav{
    display: none;
}

@media (min-width: 769px){
    header i {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {

    #menu {
        display: none;
    }

    .main-nav{
        display: block;
    }
    .main-nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-nav ul li{
        padding: 10px;
    }
    .main-nav ul li a{
        color: white;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    footer div{
        margin-top: 15px;
        width: 30%;

    }
    footer p{
        align-self: flex-start;
        font-size: 13px;
    }
    footer div a i{
        font-size: 50px;
    }
}