<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'), style %> 
<body>
    <%- include('../partials/header') %>
   
   <main>
        <div>
            <h5>Entra en tu Cuenta</h5>
            <form action="/user/login" method="POST">
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu email">

                <label for="contraseña"></label>
                <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">

                <label for="checkbox">Recordame <input type="checkbox" name="recordame" id="recordame"></label>

                <button type="submit">Enviar</button>
            </form>
            <a href="/user/register">¿No estas registrado?</a>
        </div>
        
   </main>
   
   <%- include('../partials/footer')  %>
</body>
</html>