<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'), style %> 
<body>
    <%- include('../partials/header') %>
   
   <main>
        <div>
            <h5>Crea tu producto</h5>
            <form action="/products/create?_method=POST" method="POST" enctype="multipart/form-data">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nombre de Producto">

                <label for="description"></label>
                <textarea type="text" name="description" id="description" placeholder="Ingresa la Descripción" rows="5" ></textarea>

                <label for="image">Selecciona la Imagen</label>
                <input type="file" name="image" id="image" placeholder="Selecciona la Imagen" accept="image/png, image/jpeg">

                <label for="category"></label>
                <select name="category" id="pCategory" placeholder="Categoría">
                    <option value="" disabled selected>Selecciona la Categoría</option>
                    <option value="1">Cerveza</option>
                    <option value="merch">Merchandising</option>
                    <option value="comida">Comida</option>
                </select>

                <label for="IBU">(Solo para Cerveza)</label>
                <input type="text" name="IBU" id="IBU" placeholder="Ingresa el IBU">

                <label for="ALC">(Solo para Cerveza)</label>
                <input type="text" name="ALC" id="ALC" placeholder="Ingresa el ALC">
                
                <label for="price"></label>
                <input type="text" name="price" id="price" placeholder="Ingresa el Precio">

                <button type="submit">Crear</button>

                
            </form>
            <a href="/products/modify">¿Querés actualizar un producto?</a>
            
        </div>
        
   </main>
   
   <%- include('../partials/footer')  %>
</body>
</html>